.HomeCard{
    border-bottom: 1px solid grey;
    width: 100%;
    color: white;
    .HomeCardHeader{
        a{
            text-decoration: none;
            color: white;
        }
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 5px;
        }

    }
    .HomeCardBody{
        display: flex;
        justify-content: space-between;
        color: white;
        text-decoration: none;
        h3{
            text-transform: capitalize;
        }
        img{
            width: 20%;
            border-radius: 10px;
            object-fit: cover;
        }
    }
    .Tools{
        display: flex;
        justify-content: flex-end;
        button {
            border: none;
            background-color: transparent;
            color: white;
        }
    }
}