.HomeCard{
    border-bottom: 1px solid grey;
    width: 40%;
    .HomeCardHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2{
            color: white;
        }
        a{
            text-decoration: none;
            color: white;
        }
        .optionButton{
            position: relative;
            display: inline-block;
            color: white;
            font-weight: bolder;
            font-size: x-large;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            transition: all ease-in-out 0.3s;
            position: relative;
            &:hover{
                background-color: grey;
            }
            .optionButton{
                color: white;
                background-color: transparent;
                border: none;
                &::after{
                    content: '\2807';
                }
            }
            .options{
                display: flex;
                opacity: 0;
                flex-direction: column;
                position: absolute;
                border: 1px solid red;
                z-index: 10;
                transition: all ease-in-out 0.2s;
                button{
                    color: white;
                    border: none;
                    background-color: transparent;
                    font-weight: bold;
                    font-size: medium;
                }
            }
        }

    }
    p{
        color: grey;
    }
    .Tools{
        display: flex;
        justify-content: flex-end;
        button {
            border: none;
            background-color: transparent;
            color: white;
        }
    }
    textarea{
        border: none;
        background-color: transparent;
        color: white;
        width: 100%;
        height: auto;
        resize: none;
        overflow: visible;
        &:focus{
            outline: none;
        }
    }
}

@media(max-width:500px){
    .HomeCard{
        width: 100%;
    }
}