.Navbar{
    display: flex;
    align-items: center;
    h1{
        a{
            color: white;
            font-family: 'Lobster',
            cursive;
            text-decoration: none;
        }
    }
    ul{
        display: flex;
        align-items: center;
        margin: 0;
        li{
            list-style-type: none;
            a{
                color: grey;
                text-decoration: none;
                &:hover{
                    color: white;
                }
            }
        }
    }
    button{
        background-color: transparent;
        border: none;
        color: white;
        font-size: large;
    }
}

// #light .Navbar{
//     color: black;
// }

// #dark .Navbar{
//     color: red;
// }

.NavLine{
    width: 100%;
    margin: 0 auto;
    border: 1px solid grey;
    color: grey;
}

@media(max-width: 500px){
    .Navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        h1{
            display: none;
        }
    }
}