.light{
    background: #000;
}

.dark{
    color: blue;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        a{
            color: white;
            font-family: 'Lobster',
            cursive;
            text-decoration: none;
        }
    }
    ul{
        display: flex;
        align-items: center;
        margin: 0;
        li{
            list-style-type: none;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
                position: relative;
            }
            a{
                color: grey;
                text-decoration: none;
                &:hover{
                    color: white;
                }
            }
        }
    }
    button{
        background-color: transparent;
        border: none;
        color: white;
        font-size: large;
    }
}

// #light .Navbar{
//     color: black;
// }

// #dark .Navbar{
//     color: red;
// }

.NavLine{
    width: 100%;
    margin: 0 auto;
    border: 1px solid grey;
    color: grey;
}

.drop{
    background: #111111;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey, -1px -1px 5px grey;
    a{
        color: white;
        display: block;
        &:hover{
            color: white;
        }
    }
    button{
        font-size: 16px;
        color: grey;
        &:hover{
            color: white;
        }
    }
}

@media(max-width: 500px){
    .Navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        // h1{
        //     display: none;
        // }
    }
}