.ProfileCard{
    margin: 0 auto;
    width: 80%;
    h2{
        color: white;
    }
    .Description{
        color: grey;
        overflow: hidden;
        height: 70%;
        p{
            word-break: break-all;
        }
    }
    .Tools{
        button{
            border: none;
            background-color: transparent;
            color: white;
            &::after{
                content: '';
                margin: 0 auto;
                width: 0px;
                height: 3px;
                display: block;
                background: white;
                transition: 300ms;
            }
            &:hover::after{
                width: 80%;
            }
        }
    }
}