.ProfileCard{
    margin: 0 auto;
    width: 80%;
    // height: 100px;
    transition: all ease-in-out 0.2s;
    border-radius: 15px;
    h2{
        color: white;
    }
    .Description{
        color: grey;
        overflow: hidden;
        height: 70%;
        p{
            word-break: break-all;
        }
    }
    .Tools{
        button{
            border: none;
            background-color: transparent;
            color: white;
            &::after{
                content: '';
                margin: 0 auto;
                width: 0px;
                height: 3px;
                display: block;
                background: white;
                transition: 300ms;
            }
            &:hover::after{
                width: 80%;
            }
        }
    }
    &:hover{
        outline: 1px solid white;
    }
}

.FullPost{
    background: #111111;
    height: 80vh;
    width: 80%;
    left: 10%;
    top: 10%;
    position: absolute;
    color: white;
    z-index: 2000;
    border-radius: 15px;
    transition: all ease-in-out 0.5s;
    overflow: scroll;
}